.radio {
    display: block;
    margin: vars.$spacing-md 0;
    cursor: pointer;
}

.radio--input {
    margin-right: vars.$spacing-md;
    display: none;
    width: 0;
    height: 0;

    + span {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        &::before {
            width: vars.$size-control;
            height: vars.$size-control;
            margin-right: vars.$spacing-md;
            content: "";
            background: vars.$color-frame-bg;
            border-radius: 50%;
        }
    }

    &:checked + span::after {
        content: "";
        position: absolute;
        background: vars.$color-check-mark;
        color: vars.$color-check-mark;
        left: #{vars.$size-control * 0.2};
        width: #{vars.$size-control * 0.6};
        height: #{vars.$size-control * 0.6};
        margin-right: vars.$spacing-md;
        border-radius: 50%;
    }
}

.radio:hover span::before {
    background: vars.$color-frame-bg-hovered;
}

.radio--input:active span::before {
    background: vars.$color-frame-bg-active;
}
