.button {
    display: block;
    width: 100%;
    font-size: vars.$font-size-sm;
    border: none;
    color: vars.$color-text;
    background: vars.$color-button;
    padding: vars.$spacing-sm vars.$spacing-md;
    margin-bottom: vars.$spacing-md;

    &:hover {
        background: vars.$color-button-hovered;
        cursor: pointer;
    }

    &:active {
        background: vars.$color-button-active;
    }
}
