.slider {
    display: flex;
    flex-direction: row;
}

.slider--input {
    display: flex;
    position: relative;
    margin-right: vars.$spacing-md;
    width: vars.$size-wide-control;

    input[type="range"] {
        -webkit-appearance: none;
        margin: 0;
        width: 100%;
        height: vars.$size-control;
        background: vars.$color-frame-bg;
        cursor: pointer;

        &:hover {
            background: vars.$color-frame-bg-hovered;
        }

        &:active {
            background: vars.$color-frame-bg-active;
        }

        &::-webkit-slider-runnable-track {
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            height: vars.$size-control;
            width: vars.$size-control;
            background: vars.$color-slider-grab;
            -webkit-appearance: none;
        }

        &::-moz-range-thumb {
            border: none;
            height: vars.$size-control;
            width: vars.$size-control;
            border-radius: 0;
            background: vars.$color-slider-grab;
        }

        &:focus {
            outline: none;
            background: vars.$color-frame-bg-active;

            &::-webkit-slider-thumb {
                background: vars.$color-slider-grab-active;
            }

            &::-moz-range-thumb {
                background: vars.$color-slider-grab-active;
            }
        }
    }

    span {
        position: absolute;
        inset: 0 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        line-height: vars.$size-control;
    }
}
