.select {
    display: block;
    margin: 0;
}

.select--wrapper {
    position: relative;
    display: inline-block;
    margin-right: vars.$spacing-md;

    &::before {
        width: vars.$spacing-lg;
        display: flex;
        content: "▼";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        pointer-events: none;
        color: vars.$color-text;
        justify-content: center;
        align-items: center;
    }
}

.select--input {
    font-size: vars.$font-size-sm;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    height: vars.$size-control;
    background: vars.$color-frame-bg;
    color: vars.$color-text;
    outline: none;
    padding-right: vars.$spacing-lg;
    width: vars.$size-wide-control;
    cursor: pointer;

    &:hover {
        background: vars.$color-frame-bg-hovered;
    }

    &:active {
        background: vars.$color-frame-bg-active;
    }

    option {
        color: vars.$color-text;
    }
}
