.sidebar {
    font-size: vars.$font-size-sm;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: vars.$spacing-md;
    max-height: calc(100% - #{vars.$spacing-lg});
    right: vars.$spacing-md;
    width: vars.$size-sidebar;
}

.sidebar--tabs {
    flex-shrink: 0;
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-size: vars.$font-size-md;

    > div {
        padding: vars.$spacing-sm vars.$spacing-md;
        background: vars.$color-border;
        border: 1px solid transparent;
        border-bottom: none;
        margin-bottom: -1px;
        z-index: 10;
        cursor: pointer;

        &.active-tab {
            border-color: vars.$color-border;
            background: vars.$color-window-bg;
        }

        &:hover {
            background: vars.$color-frame-bg-hovered;
        }
    }
}

.tab-content {
    background: vars.$color-window-bg;
    border: 1px solid vars.$color-border;
    padding: vars.$spacing-md;
    overflow: auto;

    &.tab-content-hidden {
        display: none;
    }
}

.sidebar--buttons {
    flex-grow: 1;
    background: vars.$color-window-bg;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
